{%extends 'index.html'%}

{%block page-content%}

 <script type="text/javascript" src="/static/bootstrap/js/jquery-1.9.1.js"></script>
 <script src="/static/bootstrap/js/highstock.js"></script>
 <script src="/static/bootstrap/js/exporting.js"></script>
<!-- <script src="/static/bootstrap/js/cpu-idle.js"></script> -->
 <script src="/static/bootstrap/js/data1.js"></script>
 <script src="/static/bootstrap/js/swap-stat.js"></script>
 <script src="/static/bootstrap/js/data3.js"></script>
<br>
<br>
<br>
<style type="text/css">  
    body{font:12px arial;color:#000;background:#fff;margin:0}  
    #header{height:50px;color:#fff;background:#fff;line-height:50px;margin-bottom:10px}  
    #content{width:100%;color:#fff;float:left;margin-right:-240px}  
    #content_inner{height:400px;background:#fff;float:left}  
    #side{width:700px;color:#fff;background:#fff;float:right}  
    #footer{height:50px;color:#fff;background:#fff;margin-top:10px}  
    .clear{clear:both}  
    </style>  
<li>This is dashboard page</li>
<h1>This page use to show import server's status screen</h1>
<div class="hero-unit clearfix">
    <div id="content_inner">
        <form role="form">
            {% csrf_token %}
             <div class="">
                 <label for="name">======选择服务器以进行动态监控======</label>

                     <select multiple="multiple" id="hosts" name="hosts">
                                   {%for ip in ip_list%}
                                           <option value="{{ip.ip}}">{{ip.hostname}}</option>
                                   {%endfor%}



<script>
//  var ip = {}
//  ip.ip = '{{ip_list}}'
//  console.log("ip_list:"+ip.ip)
  
$("#hosts").change(function(){
//  $.getScript("cpu-idle.js");
//  $.getScript("swap-stat.js");
  var s=$("#hosts").val()[0] //点击的option的value值
  var i=$('#hosts option:selected').text()
  var list_ip = '{{list_ip}}'
//  console.log(list_ip)
  list_ip = (list_ip.replace(/&#39;/g,"").replace(/&quot;/ig,'').replace(/\[/g,'').replace(/\]/g,'').replace(/ /g,'')).split(',');
//  console.log(list_ip);
  for (ip in list_ip){
//          console.log(list_ip[ip]);
//        console.log('ip':list_ip.ip);
          $("#"+list_ip[ip]+"div").css('display','none')
//          console.log('allnone'+$("#"+list_ip[ip]+"div").css('display'))
        }
  s_div = "#"+s.replace(/\./g,'_')+"div"
//  console.log("s_div:none"+$(s_div).css('display'))
  $(s_div).css('display','')
//  console.log(s_div+','+$(s_div).css('display'))
//  console.log($('#192_168_1_163div').css('display'))
  
//  console.log(div_css)
  $.post("/cpu_idle/",{"selecthost":s,"selectip":i})
  $.post("/ajax_swap_total/",{"selecthost":s,"selectip":i})
  $.post("/ajax_swap_used/",{"selecthost":s,"selectip":i})
});


  var list_ip = '{{list_ip}}'
//  console.log(list_ip)
  list_ip = (list_ip.replace(/&#39;/g,"").replace(/&quot;/ig,'').replace(/\[/g,'').replace(/\]/g,'').replace(/ /g,'')).split(',');
   console.log('list_ip:'+list_ip)
for (i in list_ip){
   ip_db = list_ip[i].replace(/_/g,'\.')
   console.log('ip_db:'+ip_db)
   ip_chart = 'idle'+list_ip[i]+'cpu'
   console.log('ip_chart:'+ip_chart)
}
$(function() {
    $(document).ready(function() {
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
        var chart;
        chart = new Highcharts.StockChart( {
            chart: {
                renderTo: ip_chart,
                type: 'spline',
                animation: Highcharts.svg,
                // don't animate in old IE               
                marginRight: 10,
                events: {
                    load: function() {}
                }
            },
         
           rangeSelector: {
                buttons: [{
                count: 1,
                type: 'minute',
                text: '1M'
            }, {
                count: 5,
                type: 'minute',
                text: '5M'
            }, {
                count: 1,
                type: 'hour',
                text: '1H'
            }, {
                count: 8,
                type: 'hour',
                text: '8H'
            }, {
                count: 1 ,
                type: 'day',
                text: '1D'
            }, {
                count: 7 ,
                type: 'day',
                text: '7D'
            }, {
                count: 1 ,
                type: 'month',
                text: '1Mon'
            }, {
                type: 'all',
                text: 'All'
            }],

//                inputEnabled: false,
                selected: 2
        },
            title: {
                text: 'CPU IDLE %'
            },
//            scrollbar: {
//                enabled: true
//                min:9,
//                max:10
//            },
//            yAxis: [{
//                title: {
//                    text: 'CPU IDLE%'
//                },
//                plotLines: [{
//                    value: 0,
//                    width: 1,
//                    color: '#808080'
//                }]
//            },
//            {
//                title: {
       //             text: 'WAIT %'
//                },
//                plotLines: [{
//                    value: 0
//                    width: 1,
//                    color: '#808080'
//                }]
//            }],
            tooltip: {
                formatter: function() {
                }
            },
            legend: {
                enabled: false
            },
//            exporting: {
//                enabled: true
//            },
            credits: {
                enabled: false
            },
//            rangeSelector: {
//              buttons: [{
//                 count: 1,
//                  type: 'minute',
//                  text: '1M'
//              }, {
//                  count: 5,
//                  type: 'minute',
//                  text: '5M'
//              }, {
//                  type: 'all',
//                  text: 'All'
//              }],
//              inputEnabled: false,
//              selected: 0
//          },
            series: [{
                name: 'CPU IDLE',
                data: (function() { // generate an array of random data                             
                    var data = [],
                    time = (new Date()).getTime(),
                    i;
                    console.log(time);
                    for (i = -999; i <= 0; i++) {
                        data.push({
                            x: time + i*1000 ,
                       //     y: Math.random()
                            y: Math.round(Math.random()*100)
                        });
                    }
                    return data;
                })()
            },
]
//            {
//                name: 'CPU WAIT',
 //               data: (function() { // generate an array of random data                             
 //                   var data = [],
 //                   time = (new Date()).getTime(),
 //                   i;
 //                   for (i = -19; i <= 0; i++) {
 //                       data.push({
 //                           x: time + i * 5000,
 //                           y: Math.random()
 //                       });
 //                   }
 //                   return data;
 //               })()
//            }

        }); // set up the updating of the chart each second                     
        var series_used = chart.series[0];
        var ip = ''
 //       var series_wait = chart.series[1];
        setInterval(function() {
                jQuery.getJSON('/cpu_idle/', null,
                          function(data) {
                    //          var x = (new Date()).getTime();
                              var used = data[0];
                              ip = data[1];
                              status_tag = data[2]
                                    if(ip_db==ip){
//                              if (data[2])
//                                  {
                                   var x = (new Date()).getTime();
//                                  }
//                              else
//                                  {
//                                   var x = data[1];
//                                  }
                                   series_used.addPoint([x, used], true, true);
                                    }
                                    else
                                      {
                                   var x = (new Date()).getTime();
                                   series_used.addPoint([x, used], true, true);
                                       }
                                   });
//              jQuery.getJSON('/ajax_dict/', null,  
//                          function(data) {  
//                              var x = (new Date()).getTime();
//                              var wait = data;  
//                              series_wait.addPoint([x, wait], true, true);  
//                                   });  
        },
        5000);


//    $("#getcvs").click(function(){alert(chart.getCSV())});
//          alert(chart.getCSV())

//
//    $("#download").onclick(function(){
//          Highcharts.post('http://export.hcharts.cn/cvs.php', {
//            csv: chart.getCSV()
//          });
//        })

    });
});
//}


</script>>





<!--
<script>                          
        function displayVals(){
//            var multipleValues = $("#id_hosts").val();    
            var multipleValues = $('select option:selected').val()

            var host = {};
            host["selecthost"] = multipleValues;
            $.post("/cpu_idle/", host,callback,"json");
                      }
         $("select").change(displayVals);
         displayVals();
</script> 


<script>                          
        function displayVals(){
            var multipleValues = $("#id_hosts").val();    
            $.ajax({
                  type: "POST",
                  url: "/cpu_idle/",
                  data: multipleValues,
                  contentType: "application/json; charset=utf-8",
                  dataType: "json",
                  processData: false,
                   })
                      }
         $("select").change(displayVals);
         displayVals();
</script>                            
                                  
                            <option value="1">jacker.server</option>
                            <option value="3">server.socket</option>
-->
                     </select>

             </div>
</form>
    </div>
    {%for ip in list_ip %}
    {% if ip == list_ip.0 %}
    <div class="accordion" id="{{ip}}div" style="display:">
    {%else%}
    <div class="accordion" id="{{ip}}div" style="display:none">
    {%endif%}
        <div class="accordion-group" id="side">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#{{ip}}cpu">CPU Used</a>
            </div>
            <div class="accordion-body collapse" id="{{ip}}cpu">
                <div class="accordion-inner">
                CPU Screen
                    <div id="idle{{ip}}cpu" style="min-width:400px;height:400px"></div>
                 <button id="download" name="download" onclick="alert('hahahahaaha')">导出Excel文件</button>
                </div>
            </div>
        </div>
    

        <div class="accordion-group" id="side">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#accordion-element-911563">Disk IO</a>
            </div>
            <div class="accordion-body collapse" id="accordion-element-911563">
                <div class="accordion-inner">
                      Disk IO screen
                    <div id="container1" style="min-width:500px;height:300px"></div>
                 </div>
             </div>
        </div>


        <div class="accordion-group" id="side">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#accordion-element-911564">MEM</a>
            </div>
            <div class="accordion-body collapse" id="accordion-element-911564">
                <div class="accordion-inner">
                      MEM screen
                    <div id="swapused" style="min-width:500px;height:300px"></div>
                </div>
            </div>
        </div>



        <div class="accordion-group" id="side">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#accordion-element-911565">QPS</a>
            </div>
            <div class="accordion-body collapse" id="accordion-element-911565">
                <div class="accordion-inner">
                     QPS Screen
                    <div id="container3" style="min-width:500px;height:300px"></div>
                </div>
            </div>
        </div>

</div>
{%endfor%}


</div>
<br/>
{%endblock%}
