<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bootstrap, from Twitter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<meta charset="gb2312">




	<!-- Le styles -->
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">




	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
      <script>

        (function(){if(e = “abbr,article,aside,audio,canvas,datalist,details,dialog,
        eventsource,figure,footer,header,hgroup,mark,menu,meter,nav,
        output,progress,section,
        time,video”.split(’,'),i=e.length;while(i–){document.createElement_x(e[i])}})()




</script>
	<![endif]-->

</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">JACKER</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="/dashboard/">Dashboard</a></li>
						<li><a href="/task_center/">Task_center</a></li>
						<li><a href="/monitor/">Monitor</a></li>
						<li><a href="/assets/">Assets</a></li>
					</ul>
<ul class="nav navbar-nav pull-right">
        <li><a href="#">{{ user.username }}</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuration <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/admin/">Admin_Center</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/">logout</a></li>
          </ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container" id="page-content">
	{%block page-content%}
		<!-- Main hero unit for a primary marketing message or call to action -->
		<div class="hero-unit clearfix">
 <div class="pull-left span5">
  <h1>JACKER</h1>
  <p>Makes your IT work easy and happy!</p>
  <p><a class="btn btn-primary btn-large">Visit our develop site</a></p>
 </div>
 <div class="pull-right">
  <form class="well" action="/account_login/" method="post">
	{% csrf_token %}
   <label>Username</label>
   <input type="text" name='username' class="span3" placeholder="Type your username">
   <label>Password</label>
   <input type="password" name="password" class="span3" placeholder="Type your password">
   <label class="checkbox">
    <input type="checkbox">Remember me
   </label>
   <button id="submit" type="submit" class="btn">Log me in</button>
       {{ login_err }}
  </form>
 </div>
</div>
{%endblock%}
<div>
		<footer>
			<p>Wrote by myj 20150714</p>
		</footer>
</div>
	</div> <!-- /container -->




	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
<!--	<script src="http://code.jquery.com/jquery.min.js"></script> -->
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>
